<div class="side left">
	<div class="title-img"></div>
	<div class="songs">
		<ul class="list">
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">illusion of love</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">i will be wait</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">5 minutes</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">louder, louder</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">inside out</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">who i am</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">step by step</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">only yours</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">shadows</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">the piece of september</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">close my eyes</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">symfony of words</a><span class="song-time">4:50</span></li>
			<li><a href="#" class="play-btn"></a><a class="song-name" href="#">the power of love</a><span class="song-time">4:50</span></li>
		</ul>
	</div>
</div>
<div class="clear"></div>
<div class="icons"><a href="#" class="app-store"></a><a href="#" class="icloud"></a></div>