<div class="side left">
	<div class="title-img"></div>
	<div class="songs">
		<ul class="list">
			<%= render partial: "refinery/resource", collection: @resources %>
		</ul>
	</div>
</div>
<div class="clear"></div>
<div class="icons"><a href="#" class="app-store"></a><a href="#" class="icloud"></a></div>