/* Main
-----------------------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
    background: url(image_path('bg-tile.png')) repeat;
    font: 10px "Open Sans", sans-serif;
    color: #212121;
    overflow: hidden;
}
#page_container {
    background: url(image_path('bg.png')) no-repeat center top;
    width: 1000px;
    height: 667px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 16px;
}
#about-page, #contacts-page {
    #page_container {
        background: url(image_path('about-bg.png')) no-repeat left top #fff;
    }
}
#media-page, #music-page {
    #page_container {
        background: url(image_path('music-bg.png')) no-repeat right top #fff;
    }
}
a {
    text-decoration: none;
    color: #212121;
}
ul {
    padding: 0;
}
h1 {
    text-align: center;
    font-weight: normal;
    color: #585d6b;
    line-height: 0.7em;
}
/* Middle
-----------------------------------------------------------------------------*/
#about-page, #contacts-page {
    #menu > ul {
        &:after {
            background: url(image_path('menu-bg-right-w.png')) no-repeat;
        }
    }
}
#music-page, #media-page {
    #menu > ul {
        &:before {
            background: url(image_path('menu-bg-left-w.png')) no-repeat;
        }
    }
}
#about-page {
    .title-img {
        background: url(image_path('about.png')) no-repeat;
        width: 255px;
        height: 55px;
    }
}
#music-page {
    .title-img {
        background: url(image_path('music.png')) no-repeat;
        width: 235px;
        height: 55px;
    }
}
#menu > ul {
    visibility: hidden;
    font-size: 11px;
    font-weight: bold;
    display: block;
    list-style: none;
    height: 29px;
    background-color: #252525;
    position: relative;
    > li {
        float: left;
        color: #fff;
        text-transform: uppercase;
        line-height: 29px;
        a {
            outline: 0;
            line-height: 29px;
            vertical-align: middle;
            padding: 0 16px;
            color: #fff;
            display: block;
            &:hover {
                background-color: #444;
            }
        }
        &.selected a, &.selected a:hover {
            background-color: #666;
        }
    }
    &:before {
        content: '';
        background: url(image_path('menu-bg-left.png')) no-repeat;
        width: 10px;
        height: 29px;
        position: absolute;
        left: -10px;
        top: 0;
        padding: 0;
    }
    &:after {
        content: '';
        background: url(image_path('menu-bg-right.png')) no-repeat;
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 29px;
    }
}
#page {
    word-wrap: break-word;
    width: 100%;
    line-height: 200%;
    letter-spacing: 1px;
}
.side {
    padding: 60px 50px 0;
    overflow: hidden;
    height: 580px;
}
.side.right {
    margin-left: 500px;
}
.side.left {
    // height: 510px;
    margin-right: 500px;
    float: left;
    width: 500px;
}
.clear {
    clear: both;
}
.title-img {
    margin: 0 auto;
    margin-bottom: 40px;
}
.introduction {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.text-2-column {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}
.app-store {
    background:  url(image_path('app-store.png')) no-repeat;
    width: 89px;
    height: 30px;
    position: absolute;
    left: 160px;
    top: 0;
}
.icloud {
    background:  url(image_path('icloud.png')) no-repeat;
    width: 30px;
    height: 31px;
    position: absolute;
    left: 260px;
    top: 0;
}
.icons {
    text-align: center;
    width: 500px;
    height: 31px;
    margin-top:-20px;
    position: relative;
}

.songs .list {
    padding-left: 20px;
    text-transform: uppercase;
    width: 255px;
    margin: 0 auto;
    list-style: none;
    li {
        margin-bottom: 5px;
        height: 22px;
        .play {
            width: 8px;
            height: 8px;
            float: left;
            margin-left: -15px;
            margin-top: 6px;
            padding: 0;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #a3a3a3;
            border-image: none;
            border-style: solid;
            border-width: 4px 0 4px 8px;
            &:hover {
                border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #535353;
            }
        }
        .stop {
            float: left;
            margin-left: -15px;
            margin-top: 6px;
            padding: 0;
            height: 8px;
            width: 8px;
            background-color: #a3a3a3;
            &:hover {
                background-color: #535353;
            }
        }
        a {
            display: inline-block;
        }
        .song-name {
            float: left;
            height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            width: 200px;
            word-wrap: break-word;
        }
        .song-time {
            display: inline-block;
            float: right;
            color: #626262;
            line-height: 22px;
            vertical-align: middle;
        }
    }
}

